.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.nav-link:hover {
    background-color: #525252 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.barraUser {
    position: fixed;
}

.hola {
    width: 20vw;
    height: 40vh;
    margin-left: 110%;
    border-radius: 0.5rem;
}

.box {}

.box select {
    background-color: darkorange;
    color: white;
    padding: 10px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 0.5rem;
}

.box::before {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    pointer-events: none;
}

.box select option {
    padding: 30px;
}

.anyadir {
    background-image: url('https://w7.pngwing.com/pngs/748/765/png-transparent-computer-icons-plus-and-minus-signs-symbol-cross-shaped-miscellaneous-cross-sign.png');
    width: 2vw;
    height: 3vh;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 90%;
}

.dia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25%;
}

.container {
    position: absolute;
    left: 10%;
    top: 15%;
}

.contenedorActividades {
    position: absolute;
    left: 15%;
    top: 150%;
}

.fotoUser {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat !important;
}

.pruebaphp {
    background: linear-gradient(#655c70c7, #617980de);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.crearUsuariophp {
    background: linear-gradient(#4c4752c7, #475a5fe1);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#backVideo {
    object-fit: inherit;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.3;
}

.loginPage {
    width: fit-content;
    height: 10vh;
    width: 15vw;
    background-color: rgba(73, 73, 73, 0.747);
    margin-left: 25%;
    margin-top: 30%;
    position: absolute;
    padding: 0%;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: darkorange;
    ;
}

.loginPageText {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loginPage:hover {
    transition: 1s;
    border-radius: 1rem;
}

.crearPage {
    width: fit-content;
    height: 10vh;
    width: 15vw;
    background-color: rgba(73, 73, 73, 0.747);
    margin-left: 60%;
    margin-top: 30%;
    position: absolute;
    padding: 0%;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: darkorange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.crearPageText {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="number"] {
    outline: none;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.crearPage:hover {
    transition: 1s;
    border-radius: 1rem;
}

.login {
    height: 40vh;
    width: 350px;
    background: linear-gradient(to top left, rgba(102, 93, 93, 0.74), rgba(62, 74, 87, 0.89));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
    margin-top: 20%;
    border-radius: 2rem;
    left: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagenPerfil {
    height: 7vh;
    width: 7vh;
    background-size: cover;
    background-position: center;
    border-radius: 5rem;
    margin-left: 3%;
    vertical-align: middle;
    margin-top: 1.5%;
    position: absolute;
}

.cambioImagen {
    height: 2vh;
    width: 2vh;
    background-image: url(/images/perfil/edit.png);
    border-radius: 5rem;
    background-size: cover;
    margin-left: 10%;
    position: absolute;
}

.bodyLogin {
    background: linear-gradient(#5c5861c7, #5a7177fb);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.bodyUserPage {}

.mal {
    height: 40vh;
    width: 390px;
    background: linear-gradient(to top left, rgba(66, 54, 54, 0.74), rgb(74, 81, 88));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
    margin-top: 20%;
    border-radius: 2rem;
    left: 50%;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagenWrong {
    background-image: url(/images/malLoggin.png);
    background-size: cover;
    height: 225px;
    width: 225px;
}

.volver {
    text-decoration: none;
    border-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    width: 20%;
    height: 10%;
    color: ivory;
    background-color: transparent;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.nombreFit {
    color: darkorange;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-left: 33%;
    top: 20%;
    font-size: 600%;
    position: absolute;
    font-weight: 900;
}

.tituloLogin {
    width: 15vw;
    height: 10vh;
    background-color: rgba(73, 73, 73, 0.253);
    left: 43%;
    margin-top: -10%;
    position: absolute;
    font-size: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: darkorange;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formularioCrear {
    margin-top: 90px;
    width: 220px;
    position: absolute;
    left: 50%;
    border: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    width: 230px;
    height: 30px;
    border: unset;
    border-bottom: 1px solid;
    background-color: transparent;
    border-bottom-color: darkorange;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
}

input:focus {
    animation: unset;
    background: transparent;
    color: white;
}


/* ::placeholder {
    align-text: center;
    color: rgba(255, 255, 255, 0.42);
} */

.enviarLogin {
    background-color: transparent;
    width: 25%;
    height: 30px;
    color: darkorange;
    border: 3px solid rgb(86, 112, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    font-family: calibri;
    cursor: pointer;
    animation: bloomButton infinite 2s ease-in-out;
    animation-direction: alternate-reverse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes bloomButton {
    0% {
        color: darkorange;
    }
    100% {
        color: white;
    }
}


/* ////////////////////////////////// */

.barraPlantilla {
    box-shadow: darkorange 4px 0px 5px;
}

.nav-link:hover {
    background-color: darkorange !important;
}

.barra {
    height: 5vh;
    background-color: darkorange;
    position: absolute;
    z-index: 5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nombre {
    color: aliceblue !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lateral {
    width: 17vw;
    height: 101vh;
    margin-left: -1%;
    background-color: rgba(71, 135, 255, 0.315);
    border-width: 25px;
    border-color: darkorange;
    position: absolute;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenido {
    margin-left: 20vw;
    margin-top: 9vh;
    height: 90vh;
    width: 80vw;
    position: absolute;
}

.bienvenida {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 2vh;
    width: 55vw;
    font-size: 190%;
    text-align: center;
}

.enlaceRegister {
    background: linear-gradient(to top left, rgba(97, 83, 83, 0.74), rgba(41, 47, 54, 0.74));
    height: 5vh;
    width: 13vh;
    margin-left: 70%;
    margin-top: -25%;
    border-radius: 0.5rem;
    color: beige;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.enlaceRegister:hover {
    box-shadow: 1px 1px darkorange;
}

.loginDirect {
    color: beige;
    text-decoration: none;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* ///////////////////////// */