.bodyUserPage{
    background-color: rgba(112, 93, 58, 0.733);
    height: 100vh;
}


.card{
    height: 39vh !important;
    width: 15vw !important;
    top: 15vh !important;
    margin-bottom: -36vh;
}

.card-group{
    width: 80vw;
}


.flip-card:hover .texto {
    display: none;
}

.file-input label {
    
    left: 30% !important;
   
}


.flip-card-front .mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 0%  !important;
   overflow:visible !important;
    border-radius: 0.5rem;
}


input {
    width: 147px !important;
    height: 25px !important;
}

h5{
    margin-bottom: -1%;
}

.card-body{
margin-top: -8vh;
}

.botonBio{
    width: 30%;
    left: 50%;
    margin-left: 35%;
}